# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# OS
.DS_Store

# VS Code: ignoruj wszystko poza settings.json
.vscode/*
!.vscode/settings.json